<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/reset.css" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/style.css" />
{% endblock %}
{% block extrastyle %}
{% endblock %}
<title>{% block title %}ELC Application Form{% endblock %}</title>
</head>
<body>
<div id="wrapper">
<div id="header">
<h1 id="logo"><a href="http://www.niu.edu"><span>Northern Illinois University</span></a></h1>

<div id="department">
<h1>NIU College of Business</h1>
</div>

<div id="utility">
    <a href="http://www.niu.edu/myniu/">MyNIU</a> | 
    <a href="http://www.niu.edu/web.shtml">A-Z Index</a> | 
    <a href="http://www.niucalendar.niu.edu/EAS/">Calendar</a> | 
    <a href="https://directory.niu.edu:8443/IDM">Directory</a> | 
    <a href="http://www.niu.edu/maps/index.shtml">Maps</a> | 
    <a href="http://www.niu.edu">NIU Home</a>
<form id="niu_search" name="SearchForm" action="http://www.niu.edu/niusearch.asp">
<input type="hidden" value="015599932022858976637:nq6dbpwtmdi" name="cx" />
<input type="hidden" value="FORID:11" name="cof" />
<label for="search_niu">NIU Website Search:</label>
<input name="q" id="search_niu" type="text" accesskey="S" tabindex="2" value="Search NIU" size="12" />
<input type="submit" value="GO!" name="go" />
<br />
<a href="http://www.niu.edu/niusearch.asp">Advanced Search</a>
</form>
</div>
</div>

<div id="top_navigation">
<ul>
    {% if user.is_authenticated %}
    <li><a href="{% url django.contrib.auth.views.logout %}">Logout</a></li>
    {% else %}
    <li><a href="{% url django.contrib.auth.views.login %}">Login</a></li>
    {% endif %}
    {% if user.is_staff %}
    <li><a href="{% url admin_site "" %}">Admin</a></li>
    {% endif %}
</ul>
{% if user.is_authenticated %}
<p>Welcome, {{ user.first_name }} {{ user.last_name }}.</p>
{% else %}
<p>Welcome, guest.</p>
{% endif %}
</div>

<div id="content_wrapper">
<div id="sidebar">
<ul>
    <li><a href="{% url apply_menu %}">Apply</a></li>
</ul>
</div>
<div id="content">	
{% block content %}{% endblock %}
</div>
</div>

<div id="footer">
{% block footer %}
<div id="copyright">&copy; 2008 Board of Trustees of <a href="http://www.niu.edu">Northern Illinois University</a>. All rights reserved.</div>
<div id="address">DeKalb, Illinois&nbsp;&nbsp;60115 <span>|</span> <a href="http://www.niu.edu/contactinfo.shtml">Contact Information</a> <span>|</span> <a href="http://www.its.niu.edu/its/Policies/privacy_policy.shtml">Web Site Privacy Policy</a> </div>
{% endblock footer %}
</div>
</div>
</body>
</html>

