{% extends "base.html" %}

{% block content %}
<h1>{{ app.student.profile.user.first_name }} {{ app.student.profile.user.last_name }}</h1>
<h3>Basic Info</h3>
<ul>
<li><b>Major:</b> {{ app.student.major }}</li>
<li><b>Student Type:</b> {% if app.student.is_grad_student %}Graduate{% else %}Undergraduate{% endif %}</li>
<li><b>Honors Student:</b> {% if app.student.is_honors_student %}Yes{% else %}No{% endif %}</li>
<li><b>Grad Date:</b> {{ app.student.grad_date }}</li>
<li><b>UBUS 311 Semester:</b> {{ app.student.semester_for_311 }}</li>
<li><b>UBUS 310 Semester:</b> {{ app.student.semester_for_310 }}</li>
</ul>
<h3>Reference Info</h3>
<ul>
<li><b>Name:</b> {% for reference in app.reference.all %}{{ reference.first_name }} {{ reference.last_name }}{% endfor %}</li>
<li><b>Organization/Department:</b></br> {{ app.get_reference_rating.department }}</li>
<li><b>What capacity have you known student?</b></br> {{ app.get_reference_rating.q_how_known }}</li>
<li><b>What strengths of the student would contribute to a successful project outcome?</b></br> {{ app.get_reference_rating.q_strengths }}</li>
<li><b>Please give an example of a situation when the student has demonstrated one or more of these strengths. </b></br> {{ app.get_reference_rating.q_strength_example }}</li>
<li><b>What is an area of weakness for the student?</b></br> {{ app.get_reference_rating.q_weakness }}</li>
<li><b>How will being a member of an ELC team help the student address this weakness?</b></br> {{ app.get_reference_rating.q_weakness_improve }}</li>
<li><b>On a scale from 1-10 (10 being the highest), rate the ability of this student to work in a self-directed, team focused project.</b></br> {{ app.get_reference_rating.ability_rating }}</li>
</ul>
<h3>Cover Letter</h3>
<p>{{ cover_letter|safe }}</p>
<h3>Resume</h3>
<ul><li><a href="{{ app.resume.url }}">download</a></li></ul>
{% endblock %}