{% extends "base.html" %}

{% block content %}
<h1>{{ app.student.profile.user.first_name }} {{ app.student.profile.user.last_name }}</h1>
<h3>Basic Info</h3>
<ul>
<li><b>Major:</b> {{ app.student.major }}</li>
<li><b>Student Type:</b> {% if app.student.is_grad_student %}Graduate{% else %}Undergraduate{% endif %}</li>
<li><b>Honors Student:</b> {% if app.student.is_honors_student %}Yes{% else %}No{% endif %}</li>
<li><b>Grad Date:</b> {{ app.student.grad_date }}</li>
<li><b>UBUS 311 Semester:</b> {{ app.student.semester_for_311 }}</li>
<li><b>UBUS 310 Semester:</b> {{ app.student.semester_for_310 }}</li>
<li><b>Reference:</b> {% for reference in app.reference.all %}<a href="mailto:{{ reference.email }}">{{ reference.first_name }} {{ reference.last_name }}</a>{% endfor %}</li>
</ul>
<h3>Cover Letter</h3>
<p>{{ cover_letter|safe }}</p>
<h3>Resume</h3>
<ul><li><a href="{{ app.resume.url }}">download</a></li></ul>
{% endblock %}