{% extends "base.html" %}

{% block content %}
<h1>Part 1 - Basic Information</h1>
<form action="{% url applyform.views.apply_page1 %}" method="POST">
<h3>Personal Info</h3>
<p>{{ form.first_name.label }}:<br />{{ form.first_name }}</p>
<p>{{ form.last_name.label }}:<br />{{ form.last_name }}</p>
<p>{{ form.dob.label }}<br />{{ form.dob }}</p>
<h3>Local Address</h3>
<p>{{ form.address1.label }}<br />{{ form.address1 }}</p>
<p>{{ form.address2.label }}<br />{{ form.address2 }}</p>
<p>{{ form.city.label }}<br />{{ form.city }}</p>
<p>{{ form.state.label }}<br />{{ form.state }}</p>
<h3>Contact Info</h3>
<p>{{ form.email.label }}<br />{{ form.email }}</p>
<p><input type="submit" value="Update Info" /></p>
{% endblock %}