<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Edit Resume</title>
{{ form.media }}
</head>
<body>
<form action="{% url cover_letter %}" method="post">
{{ form.cover_letter.as_widget }}
<br />
<table id="submit_table">
<tr>
<td><input type="submit" name="update" value="Save and Continue" class="submit_button" /></td>
<td><input type="submit" name="update" value="Save" class="submit_button" /></td>
<td><input type="submit" name="update" value="Cancel" class="submit_button" /></td>
</ul>
</table>
</form>
</body>
</html>