{% extends "base.html" %}

{% block title %}ELC Application Form - Edit Cover Letter{% endblock title %}
{% block extrastyle %}{{ form.media }}{% endblock %}

{% block content %}
<body><p>Please place a cover letter in the space below. The cover letter should briefly state why you are interested, the skills and knowledge you will bring to the the team and additional relevant information.</p>
<form action="{% url cover_letter %}" method="post">
{{ form.cover_letter.as_widget }}
<br />
{% include "applyform/save_buttons.html" %}
</form>
{% endblock content %}