{% extends "base.html" %}

{% block content %}
<h1>Submit Application</h1>
{% if is_complete %}
<p>You have completed the steps necessary. Please check the info below. If you would like to change anything, go back to the corresponding step. Once you have looked over your application, check the box below and click submit.</p>
<ul>
<li><b>First Name:</b> <p>{{ user.first_name }}</p></li>
<li><b>Last Name:</b> <p>{{ user.last_name }}</p></li>
<li><b>Address:</b> <p>{{ userprofile.address1 }}</p></li>
<li><b>Address 2:</b> <p>{{ userprofile.address2 }}</p></li>
<li><b>City:</b> <p>{{ userprofile.city }}</p></li>
<li><b>State:</b> <p>{{ userprofile.state }}</p></li>
<li><b>Zipcode:</b> <p>{{ userprofile.zipcode }}</p></li>
<li><b>Email:</b> <p>{{ user.email }}</p></li>
<li><b>Mobile phone:</b> <p>{{ userprofile.mobile_phone }}</p></li>
<li><b>Home phone:</b> <p>{{ userprofile.home_phone }}</p></li>
<li><b>Current Major:</b> <p>{{ student_profile.major }}</p></li>
<li><b>Anticipated Grad Semester:</b> <p>{{ student_profile.grad_date }}</p></li>
<li><b>UBUS 310 Completion Semester:</b> <p>{{ student_profile.semester_for_310 }}</p></li>
<li><b>UBUS 311 Completion Semester:</b> <p>{{ student_profile.semester_for_311 }}</p></li>
<li><b>Graduate Student:</b> <p>{{ student_profile.is_grad_student|yesno:"Yes,No" }}</p></li>
<li><b>Honors Student:</b> <p>{{ student_profile.is_honors_student|yesno:"Yes,No" }}</p></li>
<li><b>T-shirt Size:</b> <p>{{ userprofile.tshirt_size }}</p></li>
{% for pi in application.projectinterest_set.all %}
<li><b>{{ pi.project }}:</b> <p>{%ifequal pi.interest_rating 0 %}Not Interested{% endifequal %}{% ifequal pi.interest_rating 1 %}Interested{% endifequal %}{% ifequal pi.interest_rating 2 %}Very Interested{% endifequal %}</td></li>
{% endfor %}</p>
<li><b>Cover Letter:</b> {{ application.cover_letter|safe }}</li>
<li><b>Reference:</b> <p>{{ application.reference.get.first_name }} {{ application.reference.get.last_name }} - {{ application.reference.get.email }}</p></li>
<li><b>Resume:</b> <p><a href="{{ MEDIA_URL }}{{ application.resume.name }}">View here</a></p></li>
</ul>
<form action="{% url applyform.views.finalize_submission %}" method="post">
<p>{{ form.understand.as_widget }} {{ form.understand.label }}</p>
<table id="submit_table">
<tr>
<td><input type="submit" name="update" value="Submit" class="submit_button" /></td>
<td><input type="submit" name="update" value="Cancel" class="submit_button" /></td>
</ul>
</table>
</form>
{% else %}
<p>You have not completed all the steps necessary to submit your application, please return to the <a href="{% url applyform.views.apply_menu %}">menu</a> to continue your application.</p>
{% endif %}
{% endblock %}