{% extends "base.html" %}

{% block content %}
<h1>Login</h1>
<p>Please login using your z-id and password</p>
{% if form.errors %}
<p class="errorlist">Incorrect username or password</p>
{% endif %}
<form method="post" action=".">
<ul>
<li>{{ form.username.label_tag }}{{ form.username.as_widget }}</li>
<li>{{ form.password.label_tag }}{{ form.password.as_widget }}</li>
<li><input type="submit" value="Login" /></li>
</ul>
<input class="submit" type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}