{% extends "base.html" %}

{% block extrastyle %}
<style type="text/css">
    #id_username, #id_password {
	width: 170px;
	padding: 1px 3px;
    }
</style>
{% endblock %}

{% block content %}
<h1>Login</h1>
<p>Please login using your z-id and Novell password.</p>
{% if form.errors %}
<p class="errorlist">Incorrect username or password</p>
{% endif %}
<form method="post" action=".">
<ul>
<li>{{ form.username.label_tag }}{{ form.username.as_widget }}</li>
<li>{{ form.password.label_tag }}{{ form.password.as_widget }}</li>
<li><input class="submit_button" type="submit" value="Login" /></li>
</ul>
<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}