{% extends "base.html" %}

{% block content %}
<h1>Project Selection</h1>
<p>Please rate your interest in the following {{ semester }} projects. You must choose an interest level for each project. Rollover the text to see a brief description on each project.</p>
<form method="post" action="">
    {{ formset.management_form }}
    <table class="project_select">
    {% for form in formset.forms %}
    <tr class="project_item">
    <td>
    <b><a href="#" class="tooltip">{{ form.initial.sponsors_string }} - {{ form.initial.project_name }}
    <span>{{ form.initial.project_purpose|safe }}</span>
    </a></b>
    <br />
    <b>Meeting Times:</b> {{ form.initial.meeting_times }}
    <br />
    <b>Coach(es):</b> {% if form.initial.project_coaches %}
    {% for coach in form.initial.project_coaches %}
    {% if forloop.first %}
    {{ coach.profile.user.first_name }} {{ coach.profile.user.last_name }}
    {% else %}
    and {{ coach.profile.user.first_name }} {{ coach.profile.user.last_name }}
    {% endif %}
    {% endfor %}
    {% else %}
    TBD
    {% endif %}
    </td>
    <td>{{ form.interest_rating.as_widget }}{{ form.project }}</td>
    </tr>
    <tr>
    <td colspan="3"></td>
    </tr>
    {% endfor %}
    </table>
{% include "applyform/save_buttons.html" %}
</form>
{% endblock %}