{% extends "base.html" %}

{% block content %}
<h1>Project Selection</h1>
<p>Please rate your interest in the following {{ semester }} projects. You must choose an interest level for each project. Rollover the text to see a brief description on each project.</p>
<form method="post" action="">
    {{ formset.management_form }}
    <table class="project_select">
    {% for form in formset.forms %}
    <tr class="project_item">
    <td>
    <b><a href="#" class="tooltip">{{ form.initial.sponsors_string }} - {{ form.initial.project_name }}
    <span>{{ form.initial.project_purpose|safe }}</span>
    </a></b>
    <br />
    {{ form.initial.meeting_times }}</td>
    <td>{{ form.interest_rating.as_widget }}{{ form.project }}</td>
    </tr>
    <tr>
    <td colspan="3"></td>
    </tr>
    {% endfor %}
    </table>
<table id="submit_table">
<tr>
<td><input type="submit" name="update" value="Save and Continue" class="submit_button" /></td>
<td><input type="submit" name="update" value="Save" class="submit_button" /></td>
<td><input type="submit" name="update" value="Cancel" class="submit_button" /></td>
</tr>
</table>
</form>
{% endblock %}