{% extends "base.html" %}

{% block content %}
<form enctype="multipart/form-data" method="post" action="{% url applyform.views.apply_menu %}">
<ul>
<li>Upload a Resume: {{ form.file_upload }}</li>
</ul>
<table id="submit_table">
<tr>
<td><input type="submit" name="update" value="Save and Continue" class="submit_button" /></td>
<td><input type="submit" name="update" value="Save" class="submit_button" /></td>
<td><input type="submit" name="update" value="Cancel" class="submit_button" /></td>
</ul>
</table>
</form>
{% endblock %}